# for Loops    
Looping over iterables(lists, tuples, strings, dictionaries)

In [1]:
# We'll learn how to automate this sort of list in the next lecture
l = [1,2,3,4,5,6,7,8,9,10]

In [2]:
for num in l:
    print(num)

1
2
3
4
5
6
7
8
9
10

### Modulo
The modulo allows us to get the remainder in a division and uses the % symbol. For example:

In [5]:
17 % 5

2

This makes sense since 17 divided by 5 is 3 remainder 2. Let's see a few more quick examples:

In [6]:
# 3 Remainder 1
10 % 3

1

In [7]:
# 2 Remainder 4
18 % 7

4

In [8]:
# 2 no remainder
4 % 2

0

## Example
Printing Even numbers

In [10]:
for num in l:
    if num % 2 == 0:
        print(num)

2
4
6
8
10

We could have also put in else statement in there:

In [11]:
for num in l:
    if num % 2 == 0:
        print(num)
    else:
        print('Odd number')

Odd number
2
Odd number
4
Odd number
6
Odd number
8
Odd number
10

## Example

In [4]:
# Start sum at zero
list_sum = 0 

for num in l:
    list_sum = list_sum + num

print(list_sum)

55

In [15]:
# Start sum at zero
list_sum = 0 

for num in l:
    list_sum += num

print(list_sum)

55

## Example

In [16]:
for letter in 'This is a string.':
    print(letter)

T
h
i
s

i
s

a

s
t
r
i
n
g
.

## Example

In [19]:
tup = (1,2,3,4,5)

for t in tup:
    print(t)

1
2
3
4
5

## Example

In [8]:
l = [(2,4),(6,8),(10,12)]

In [9]:
for tup in l:
    print(tup)

(2, 4)
(6, 8)
(10, 12)

In [16]:
# Now with unpacking!
for (t1,t2) in l:
    print(t2)

4
8
12

## Example

In [17]:
d = {'k1':1,'k2':2,'k3':3}

In [21]:
for item in d:
    print(item)

k1
k2
k3

In [19]:
# Creates a generator
d.items()

dict_items([('k1', 1), ('k2', 2), ('k3', 3)])

Calling the items() method returns a list of tuples. Now we can iterate through them just as we did in the previous examples.

In [22]:
# Create a generator
for k,v in d.items():
    print(k)
    print(v)

k1
1
k2
2
k3
3