# List Comprehensions

## Example

In [1]:
# Grab every letter in string
lst = [x for x in 'word']

In [2]:
# Check
lst

['w', 'o', 'r', 'd']

## Example

In [2]:
# Square numbers in range and turn into list
a=int(input())
lst = [x**2 for x in range(0,a)]

20

In [3]:
lst

[0,
 1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361]

## Example

In [5]:
# Check for even numbers in a range
lst = [x for x in range(11) if x % 2 == 0]

In [6]:
lst

[0, 2, 4, 6, 8, 10]

## Example

In [8]:
# Convert Celsius to Fahrenheit
celsius = [0,10,20.1,34.5]

fahrenheit = [ ((float(9)/5)*temp + 32) for temp in celsius ]

fahrenheit

[32.0, 50.0, 68.18, 94.1]

## Example

In [9]:
lst = [ x**2 for x in [x**2 for x in range(11)]]
lst

[0, 1, 16, 81, 256, 625, 1296, 2401, 4096, 6561, 10000]